# Enviroment
NODE_ENV='development'
PREFIX=api-v1.0

# Port definition server
SERVER_PORT=4000

# Database connection
DB_CONNECTION=postgres
DB_HOST=216.244.81.116
DB_PORT=5432
DB_DATABASE=OSSMMASOFT
DB_USERNAME=ossmmapg
DB_PASSWORD=ossmm4ppgg
DB_SSL=false
DB_AUTO_LOAD_MODELS=true
DB_SYNCHRONIZE=false
DB_LOGGING=false
# Api C#
API_AUTH_URL=http://216.244.81.115:5000/api
# Allowed Origis for CORS
ALLOWED_ORIGINS=http://ossmmasoft.com.ve:3000,https://ossmmasoft.com.ve:3001,http://localhost:3000,http://localhost:4000,http://localhost:5000